RewriteEngine On
RewriteBase /cafe

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|assets|css|js|images|fonts)
RewriteRule ^(.*)$ /cafe/index.php?/$1 [L]